* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: darkgrey;
}

main {
  background-color: black;
  width: 30%;
  height: auto;
  margin: 10vh auto;
  border-radius: 15px;
  display: flex;
  flex-flow: column wrap;
}
/* INPUT SCREEN */
.input-field {
  border: 1.5px solid yellow;
  background-color: rgb(46, 44, 44);
  width: 90%;
  height: 20vh;
  margin: 5% auto;
}

/* BUTTONS IN ROWS OF FOURS*/
.numbers {
  border: 1.5px solid rgb(55, 0, 255);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
}

button {
  border: 1.5px solid rgb(0, 255, 55);
  width:20%;
  height:10vh;
  margin: 3% 0%;
  border-radius: 10px;
   font-size: 1.5rem;
  font-weight:900
}

.equals{
  width: 68%;
}

@media screen and (max-width: 780px) {
  main {
    width: 40%;
    
  }
}

@media screen and (max-width: 650px) {
  main {
    width: 40%;
  }
}

@media screen and (max-width: 515px) {
  main {
    width: 70%;
  }
}

@media screen and (max-width: 515px) {
  main {
    width: 70%;
    
  }
}

@media screen and (max-width: 400px) {
  main {
    width: 70%;
    
  }
}


@media screen and (max-width: 350px) {
  main {
    width: 70%;
    
  }
}

@media screen and (max-width: 350px) {
  main {
    width: 70%;
    height: auto;
  }
}
